In [1]:
import pandas as pd

df = pd.read_csv('./dataset/energy.csv')

In [2]:
df

,time,dangjin_floating,dangjin_warehouse,dangjin,ulsan
0,2018-03-01 1:00:00,0.0,0.0,0,0
1,2018-03-01 2:00:00,0.0,0.0,0,0
2,2018-03-01 3:00:00,0.0,0.0,0,0
3,2018-03-01 4:00:00,0.0,0.0,0,0
4,2018-03-01 5:00:00,0.0,0.0,0,0
...,...,...,...,...,...
25627,2021-01-31 20:00:00,0.0,0.0,0,0
25628,2021-01-31 21:00:00,0.0,0.0,0,0
25629,2021-01-31 22:00:00,0.0,0.0,0,0
25630,2021-01-31 23:00:00,0.0,0.0,0,0
25631,2021-01-31 24:00:00,0.0,0.0,0,0

In [3]:
df.iloc[-24:, :]

,time,dangjin_floating,dangjin_warehouse,dangjin,ulsan
25608,2021-01-31 1:00:00,0.0,0.0,0,0
25609,2021-01-31 2:00:00,0.0,0.0,0,0
25610,2021-01-31 3:00:00,0.0,0.0,0,0
25611,2021-01-31 4:00:00,0.0,0.0,0,0
25612,2021-01-31 5:00:00,0.0,0.0,0,0
25613,2021-01-31 6:00:00,0.0,0.0,0,0
25614,2021-01-31 7:00:00,0.0,0.0,0,0
25615,2021-01-31 8:00:00,0.0,0.0,0,1
25616,2021-01-31 9:00:00,61.0,31.0,52,52
25617,2021-01-31 10:00:00,190.0,117.0,200,156
25618,2021-01-31 11:00:00,369.0,269.0,421,238
25619,2021-01-31 12:00:00,495.0,386.0,587,284
25620,2021-01-31 13:00:00,487.0,392.0,608,303
25621,2021-01-31 14:00:00,397.0,261.0,468,294
25622,2021-01-31 15:00:00,297.0,256.0,352,259
25623,2021-01-31 16:00:00,230.0,166.0,261,196
25624,2021-01-31 17:00:00,76.0,65.0,81,83
25625,2021-01-31 18:00:00,10.0,6.0,0,8
25626,2021-01-31 19:00:00,0.0,0.0,0,0
25627,2021-01-31 20:00:00,0.0,0.0,0,0
25628,2021-01-31 21:00:00,0.0,0.0,0,0
25629,2021-01-31 22:00:00,0.0,0.0,0,0
25630,2021-01-31 23:00:00,0.0,0.0,0,0
25631,2021-01-31 24:00:00,0.0,0.0,0,0

In [7]:
import numpy as np

actual = np.array([[  0.,   0.,   0.,   0.,   0.,   0.,   0.,   1.,  52., 156., 238., 284.,
         303., 294., 259., 196.,  83.,   8.,   0.,   0.,   0.,   0.,   0.,   0.]])

In [8]:
predict = np.array([[3.7758e-23, 7.8600e-28, 2.8866e-27, 8.8400e-25, 1.6708e-20, 1.1176e-14,
         7.5424e-10, 9.2750e-03, 4.7409e+01, 1.5225e+02, 2.3355e+02, 2.8184e+02,
         3.0533e+02, 2.9280e+02, 2.5478e+02, 1.7586e+02, 6.3223e+01, 2.4496e+00,
         6.0867e-08, 2.4883e-14, 8.8299e-18, 1.5893e-19, 4.2908e-22, 1.2071e-25]])

In [6]:
predict.shape

(1, 24)

In [10]:
import pandas as pd
import numpy as np
def sola_nmae(answer_df, submission_df):

    submission = submission_df[submission_df['time'].isin(answer_df['time'])]

    submission.index = range(submission.shape[0])

    

    # 시간대별 총 발전량

    sum_submission = submission.iloc[:,1:].sum(axis=1)

    sum_answer = answer_df.iloc[:,1:].sum(axis=1)

    

    # 발전소 발전용량

    capacity = {

        'dangjin_floating':1000, # 당진수상태양광 발전용량

        'dangjin_warehouse':700, # 당진자재창고태양광 발전용량

        'dangjin':1000, # 당진태양광 발전용량

        'ulsan':500 # 울산태양광 발전용량

    }

    

    # 총 발전용량

    total_capacity = np.sum(list(capacity.values()))

    

    # 총 발전용량 절대오차

    absolute_error = (sum_answer - sum_submission).abs()

    

    # 발전용량으로 정규화

    absolute_error /= total_capacity

    

    # 총 발전용량의 10% 이상 발전한 데이터 인덱스 추출

    target_idx = sum_answer[sum_answer>=total_capacity * 0.1].index

    

    # NMAE(%)

    nmae = 100 * absolute_error[target_idx].mean()

    

    return nmae

In [12]:
total_capacity = 500.0

In [16]:
sum_answer = np.sum(actual)
sum_submission = np.sum(predict)

absolute_error = np.abs((sum_answer - sum_submission))

In [17]:
absolute_error /= total_capacity

In [19]:
absolute_error *= 100

In [20]:
absolute_error

12.899824987675764